In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import os
import pandas as pd
#тема для лабораторної роботи — класифікація пульсара або зірки за певними параметрами
#os.chdir('gdrive/My Drive/Data')
data = pd.read_csv('pulsar_stars.csv')

In [13]:
data

        Mean of the integrated profile  ...  target_class
0                           140.562500  ...             0
1                           102.507812  ...             0
2                           103.015625  ...             0
3                           136.750000  ...             0
4                            88.726562  ...             0
...                                ...  ...           ...
17893                       136.429688  ...             0
17894                       122.554688  ...             0
17895                       119.335938  ...             0
17896                       114.507812  ...             0
17897                        57.062500  ...             0

[17898 rows x 9 columns]

In [0]:
y = data['target_class']
X = data.drop(columns='target_class')
#розбиваємо на тренувальний і тестовий сет
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [16]:
data['target_class'].value_counts()

0    16259
1     1639
Name: target_class, dtype: int64

In [20]:
from sklearn import svm
#використовуємо СВМ, оскільки це достатньо точний метод класифікації
#особливо для невеликих сетів
#також задаємо вагу класам, оскільки датасет є незбалансованим
wclf = svm.SVC(kernel='linear', class_weight={1: 9.1})
wclf.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight={1: 9.1}, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [18]:
#перевіряємо roc_auc та точність

from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, wclf.predict(X_test))

0.9491989114257282

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, wclf.predict(X_test))

0.976536312849162

СВМ показала достатньо непогані результати для даного датасету